.titulo-tst-1{
    color: darkred;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-size: 40px;
    font-style: normal;
    text-align: center; 
    padding-top: 3%;
    padding-bottom: 3%;    
}